@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-accent: #f59e0b;
  --color-dark: #111827;
  --color-light: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-dark);
}
